---
- name: Install dependencies
  ansible.builtin.apt:
    name: gnupg
    state: present

- name: Add apt-key for ondrej php repo
  ansible.builtin.apt_key:
    url: "{{ php_apt_repo_gpg_key }}"
  when: ansible_facts['distribution'] == "Debian"

- name: Add packages.sury.org/php debian php repo
  ansible.builtin.apt_repository:
    update_cache: true
    repo: "{{ php_sury_repo }}"
  when: ansible_facts['distribution'] == "Debian"

- name: Add ppa:ondrej/php php ubuntu repo
  ansible.builtin.apt_repository:
    update_cache: true
    repo: ppa:ondrej/php
  when: ansible_facts['distribution'] == "Ubuntu"

- name: Install php-fpm
  ansible.builtin.apt:
    name: php{{ php_default_version }}-fpm
    state: latest

- name: Install php modules
  ansible.builtin.apt:
    name: "{{ php_debian_packages }}"
    state: latest
  notify: restart debian php-fpm

- name: Clear default pool file
  ansible.builtin.copy:
    content: '; disabled, use separate vhost pools'
    dest: /etc/php/{{ php_default_version }}/fpm/pool.d/www.conf
  notify: restart debian php-fpm

- name: Create pool for a virtual host
  ansible.builtin.template:
    dest: /etc/php/{{ php_default_version }}/fpm/pool.d/{{ vhost }}.conf
    src: vhost_pool_deb.j2
  notify: restart debian php-fpm

- name: Change upload size vars in php.ini
  community.general.ini_file:
    path: /etc/php/{{ php_default_version }}/fpm/php.ini
    section: PHP
    option: "{{ item.options }}"
    value: "{{ item.value }}"
  loop:
    - { options: 'post_max_size', value: '64M' }
    - { options: 'upload_max_filesize', value: '64M' }
    - { options: 'short_open_tag', value: 'On' }
    - { options: 'cgi.fix_pathinfo', value: '0' }
    - { options: 'date.timezone', value: 'Asia/Almaty' }
  notify: restart debian php-fpm

- name: Create /var/www/ vhost subdir
  ansible.builtin.file:
    state: directory
    path: /var/www/{{ vhost }}/
    owner: www-data
    group: www-data
    mode: 0755

- name: Copy index file into virtualhost root
  ansible.builtin.copy:
    src: index.php
    dest: /var/www/{{ vhost }}/index.php
    owner: www-data
    group: www-data
    mode: 0644

- name: Add fpm handler block for nginx
  ansible.builtin.blockinfile:
    marker: ' '
    path: /etc/nginx/vhosts/{{ vhost }}.conf
    insertafter: '## handler ##'
    block: |
      location ~ \.php$ {
              fastcgi_index index.php;
              fastcgi_param PHP_ADMIN_VALUE "sendmail_path = /usr/sbin/sendmail -t -i -f webmaster@{{ vhost }}";
              fastcgi_pass unix:/var/run/php/{{ vhost }}.sock;
              fastcgi_split_path_info ^((?U).+\.ph(?:p\d*|tml))(/?.+)$;
              try_files $uri =404;
              fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
              include fastcgi_params;

              fastcgi_read_timeout 300;
              fastcgi_busy_buffers_size 16k;
              fastcgi_buffers 32 16k;
      }
  notify: Restart nginx

- name: ensure fpm is started and enabled
  ansible.builtin.service:
    name: php{{ php_default_version }}-fpm
    enabled: yes
    state: started
