---
- name: Verify
  hosts: all
  tasks:
    - name: Check MariaDB Package Is Installed
      ansible.builtin.package:
        name: mariadb-server
        state: present
      check_mode: true
      register: mariadb_install
      failed_when: (mariadb_install is changed) or (mariadb_install is failed)

    - name: Check Root MySQL Config Exists
      ansible.builtin.stat:
        path: /root/.my.cnf
      register: mariadb_root_cnf

    - name: Fail When Root MySQL Config Is Missing
      ansible.builtin.fail:
        msg: "/root/.my.cnf was not created"
      when: not mariadb_root_cnf.stat.exists
