---
- name: Import task if redhat base OS
  ansible.builtin.import_tasks: redhat.yml
  when: ansible_facts['os_family']|lower == 'redhat'

- name: Import task if debian base OS
  ansible.builtin.import_tasks: debian.yml
  when: ansible_facts['os_family']|lower == 'debian'

- name: Delete all files and subdirectories inside a directory /var/www
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  with_fileglob:
    - "/var/www/*"

- name: Add node.js user
  ansible.builtin.user:
    name: node
    home: /var/www/{{ nodejs_domain }}
    shell: /bin/bash

- name: Ensure that the application file permissions are set properly
  ansible.builtin.file:
    path: /var/www/{{ nodejs_domain }}
    recurse: true
    owner: node
    group: node
    state: directory

- name: Create npm global directory
  ansible.builtin.file:
    path: "{{ nodejs_npm_config_prefix }}"
    owner: root
    group: root
    state: directory
    mode: "0755"

- name: Add npm_config_prefix bin directory to global $PATH.
  ansible.builtin.template:
    src: npm.sh.j2
    dest: /etc/profile.d/npm.sh
    mode: "0644"

- name: Ensure npm global packages are installed.
  community.general.npm:
    name: "{{ item }}"
    global: true
    state: "present"
  environment:
    NPM_CONFIG_PREFIX: "{{ nodejs_npm_config_prefix }}"
    NODE_PATH: "{{ nodejs_npm_config_prefix }}/lib/node_modules"
    NPM_CONFIG_UNSAFE_PERM: "false"
  with_items: "{{ nodejs_npm_global_packages }}"
