---
- name: Add Nodesource repositories for Node.js.
  ansible.builtin.yum_repository:
    file: nodesource-nodejs
    name: nodesource-nodejs
    description: Node.js Packages for Linux RPM based distros - x86_64
    baseurl: "https://rpm.nodesource.com/pub_{{ nodejs_version }}/nodistro/nodejs/x86_64"
    priority: "2"
    module_hotfixes: true
    enabled: true
    gpgcheck: true
    gpgkey: https://rpm.nodesource.com/gpgkey/ns-operations-public.key
    state: present

- name: Install nodejs and npm
  ansible.builtin.dnf:
    name: "nodejs-{{ nodejs_version | regex_replace('x', '') }}*"
    enablerepo: nodesource-nodejs
    update_cache: true
