[{{ vhost }}]

listen = /var/run/{{ vhost }}.sock

listen.allowed_clients = 127.0.0.1

listen.owner = apache
listen.group = nginx
listen.mode = 0660

user = apache
group = apache

pm = dynamic
pm.max_children = 7
pm.start_servers = 5
pm.min_spare_servers = 5
pm.max_spare_servers = 7
pm.max_requests = 300

slowlog = /var/log/php-fpm/{{ vhost }}-slow.log

catch_workers_output = yes

security.limit_extensions = .php .php3 .php4 .php5

;env[HOSTNAME] = $HOSTNAME
;env[PATH] = /usr/local/bin:/usr/bin:/bin
;env[TMP] = /tmp
;env[TMPDIR] = /tmp
;env[TEMP] = /tmp
;php_admin_value[sendmail_path] = /usr/sbin/sendmail -t -i -f admin@{{ vhost }}
;php_flag[display_errors] = off
php_admin_value[error_log] = /var/log/php-fpm/{{ vhost }}-error.log
php_admin_flag[log_errors] = on
;php_admin_value[memory_limit] = 128M
php_value[session.save_handler] = files
php_value[session.save_path] = /tmp
