server {
        server_name {{ vhost }} www.{{ vhost }};

        listen {{ ansible_default_ipv4.address }}:80;
        {% if ansible_default_ipv6.address is defined %}
        listen [{{ ansible_default_ipv6.address }}]:80;
        {% endif %}

        index index.php index.html;

        disable_symlinks if_not_owner from=$root_path;

        access_log /var/log/nginx/{{ vhost }}.access.log;
        error_log /var/log/nginx/{{ vhost }}.error.log notice;

        set $root_path /var/www/{{ vhost }};
        root $root_path;

        ## handler ##
        location ~ \.php$ {
                fastcgi_index index.php;
                fastcgi_param PHP_ADMIN_VALUE "sendmail_path = /usr/sbin/sendmail -t -i -f webmaster@{{ vhost }}";
                fastcgi_pass unix:/var/run/php-fpm/{{ vhost }}.sock;
                fastcgi_split_path_info ^((?U).+\.ph(?:p\d*|tml))(/?.+)$;
                try_files $uri =404;
                fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
                include fastcgi_params;

                fastcgi_read_timeout 300;
                fastcgi_busy_buffers_size 16k;
                fastcgi_buffers 32 16k;
        }

        location ~* \.(jpg|jpeg|gif|png|ico|css|zip|tgz|gz|rar|bz2|doc|xls|exe|pdf|ppt|txt|tar|mid|midi|wav|bmp|rtf|js|swf|flv|avi|djvu|mp3|mp4|ogv|3gp)$ {
                root /var/www/{{ vhost }}/;
                expires 30d;
        }
}
