server {
        server_name {{ vhost }} www.{{ vhost }};

        listen {{ ansible_default_ipv4.address }}:80;
        {% if ansible_default_ipv6.address is defined %}
listen [{{ ansible_default_ipv6.address }}]:80;
        {% endif %}

        index index.php index.html;

        disable_symlinks if_not_owner from=$root_path;

        access_log /var/log/nginx/{{ vhost }}.access.log;
        error_log /var/log/nginx/{{ vhost }}.error.log notice;

        set $root_path /var/www/{{ vhost }};
        root $root_path;

        ## begin handler ##

        location ~* \.(jpg|jpeg|gif|png|ico|css|zip|tgz|gz|rar|bz2|doc|xls|exe|pdf|ppt|txt|tar|mid|midi|wav|bmp|rtf|js|swf|flv|avi|djvu|mp3|mp4|ogv|3gp)$ {
                root /var/www/{{ vhost }}/;
                expires 30d;
        }
}
