---
- name: Install mariadb-server
  ansible.builtin.apt:
    name:
      - mariadb-server
      - python3-mysqldb
    state: present
    update_cache: true

- name: Ensure MariaDB started and enabled
  ansible.builtin.service:
    name: mariadb
    state: started
    enabled: true

- name: Change mysql bind-address
  ansible.builtin.lineinfile:
    path: /etc/mysql/mariadb.conf.d/50-server.cnf
    regexp: '127\.0\.0\.1'
    line: 'bind-address = 127.0.0.1'
  notify: Restart mariadb

- name: Change default auth plugin to mysql_native_password
  ansible.builtin.lineinfile:
    path: /etc/mysql/mariadb.conf.d/50-server.cnf
    insertafter: '^# datadir'
    line: 'default-authentication-plugin = mysql_native_password'
  notify: Restart mariadb

- name: Create website database
  community.mysql.mysql_db:
    state: present
    name: "{{ mariadb_database_name }}"
    collation: utf8_unicode_ci

- name: Create website database user
  community.mysql.mysql_user:
    state: present
    name: "{{ mariadb_database_name }}"
    host: localhost
    password: "{{ lookup('password', '/root/03-mysql_password chars=ascii_letters,digits,hexdigits length=15') }}"
    priv: '{{ mariadb_database_name }}.*:ALL'

- name: Insert mysql user name into user password file
  ansible.builtin.blockinfile:
    dest: /root/03-mysql_password
    insertbefore: BOF
    block: |
      Данные для доступа к базе данных:
      Имя БД: {{ mariadb_database_name }}
      Пользователь: {{ mariadb_database_name }}

- name: Add new superuser if debian
  community.mysql.mysql_user:
    state: present
    name: "admin"
    host: localhost
    password: "{{ lookup('password', '/root/03-mysql-admin_password chars=ascii_letters,digits,hexdigits length=15') }}"
    priv: '*.*:ALL,GRANT'

- name: Insert debian new superuser name into user password file
  ansible.builtin.blockinfile:
    dest: /root/03-mysql-admin_password
    insertbefore: BOF
    block: |
      Админ-пользователь mysql:
      Логин: admin

- name: Remove anonymous users
  community.mysql.mysql_user:
    state: absent
    name: ''
    host_all: true

- name: Remove test db
  community.mysql.mysql_db:
    state: absent
    name: test

- name: Change root password
  community.mysql.mysql_user:
    state: present
    name: root
    host: localhost
    password: "{{ lookup('password', '/root/04-mysql_root_password chars=ascii_letters,digits,hexdigits length=15') }}"

- name: Copy root mysql password file
  ansible.builtin.copy:
    dest: /root/.my.cnf
    src: root_my_cnf
    owner: root
    group: root
    mode: "0660"

- name: Add root password to root homedir my.cnf file
  ansible.builtin.replace:
    path: /root/.my.cnf
    regexp: '^password'
    replace: 'password={{ lookup("file", "/root/04-mysql_root_password") }}'

- name: Insert root mysql user name into root password file
  ansible.builtin.blockinfile:
    dest: /root/04-mysql_root_password
    insertbefore: BOF
    block: |
      Пароль от mysql root-пользователя:
