---
- name: Enable ssh on ufw
  ufw:
    rule: allow
    port: ssh
    proto: tcp

- name: Create site user
  user:
    name: "{{ ansible_hostname }}"
    uid: 33
    group: www-data
    non_unique: yes
    password: "{{ lookup('password', '/root/01-sftp_password chars=ascii_letters,digits,hexdigits length=15') | password_hash('sha512') }}"
    shell: /usr/sbin/nologin
    home: /var/www/

- name: Insert site user name into user password file
  blockinfile:
    dest: /root/01-sftp_password
    insertbefore: BOF
    block: |
      Доступ для загрузки файлов сайта (SFTP)
      ip-адрес: {{ ansible_default_ipv4.address }}
      Тип подключений: SFTP
      Порт: 22
      Папка сайта: /var/www/{{ vhost }}
      Пользователь: {{ ansible_hostname }}

- name: Add sshd user part
  blockinfile:
    marker: ''
    path: /etc/ssh/sshd_config
    insertafter: EOF
    block: |
      Match User {{ ansible_hostname }}
      ForceCommand internal-sftp
      PasswordAuthentication yes
      PermitTunnel no
      AllowAgentForwarding no
      AllowTcpForwarding no
      X11Forwarding no
  notify: restart sshd

- name: Change ftp-subsystem
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^Subsystem'
    line: 'Subsystem       sftp    internal-sftp'
  notify: restart sshd

- name: Disable UsePAM
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^UsePAM'
    line: '#UsePAM'
  notify: restart sshd

- name: Change /var/www group and perm
  file:
    state: directory
    path: /var/www
    owner: root
    group: www-data
    mode: 0775
