---
- name: Install Ufw Package
  ansible.builtin.apt:
    name: ufw
    state: present
    update_cache: true
  when:
    - sftp_manage_firewall
    - not (sftp_skip_firewall_in_containers and ansible_virtualization_type in ['docker', 'containerd', 'podman', 'lxc'])

- name: Enable Ssh On Ufw
  community.general.ufw:
    rule: allow
    port: ssh
    proto: tcp
  when:
    - sftp_manage_firewall
    - not (sftp_skip_firewall_in_containers and ansible_virtualization_type in ['docker', 'containerd', 'podman', 'lxc'])

- name: Create Site User
  ansible.builtin.user:
    name: "{{ sftp_site_username }}"
    groups:
      - "{{ sftp_debian_group }}"
    password: "{{ lookup('password', '/root/01-sftp_password chars=ascii_letters,digits,hexdigits length=15') | password_hash('sha512') }}"
    shell: /usr/sbin/nologin
    home: "{{ sftp_home_dir }}"

- name: Insert Site User Name Into User Password File
  ansible.builtin.blockinfile:
    dest: /root/01-sftp_password
    insertbefore: BOF
    block: |
      Доступ для загрузки файлов сайта (SFTP)
      ip-адрес: {{ ansible_default_ipv4.address }}
      Тип подключений: SFTP
      Порт: 22
      Папка сайта: {{ sftp_home_dir }}/{{ vhost }}
      Пользователь: {{ sftp_site_username }}

- name: Add Sshd User Part
  ansible.builtin.blockinfile:
    marker: ''
    path: /etc/ssh/sshd_config
    insertafter: EOF
    block: |
      Match User {{ sftp_site_username }}
      ForceCommand internal-sftp
      PasswordAuthentication yes
      PermitTunnel no
      AllowAgentForwarding no
      AllowTcpForwarding no
      X11Forwarding no
  notify: Restart sshd

- name: Change Sftp Subsystem
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^Subsystem'
    line: 'Subsystem       sftp    internal-sftp'
  notify: Restart sshd

- name: Disable UsePAM
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^UsePAM'
    line: '#UsePAM'
  notify: Restart sshd
