<VirtualHost *:80>
	ServerName "{{ _vhost_name }}"
	ServerAlias "www.{{ _vhost_name }}"
	ServerAdmin "admin@{{ _vhost_name }}"
	UseCanonicalName Off
        Alias /.well-known/acme-challenge/ "/var/www/{{ _vhost_name }}/.well-known/acme-challenge/"

	DocumentRoot "/var/www/{{ _vhost_name }}/"
	{% if ansible_os_family == "Debian" %}
	ErrorLog "/var/log/apache2/{{ _vhost_name }}_error.log"
	{% elif ansible_os_family == "RedHat" %}
	ErrorLog "/var/log/httpd/{{ _vhost_name }}_error.log"
	{% endif %}

	DirectoryIndex "index.html" "index.php" "index.xhtml" "index.htm" "index.shtml"

	<Directory /var/www/{{ _vhost_name }}/>
		Options -Indexes +FollowSymLinks
		AllowOverride All
	</Directory>

</VirtualHost>
