N8N_HOST={{ vhost }}
N8N_PROTOCOL={{ n8n_public_proto }}
N8N_PORT=5678

WEBHOOK_URL={{ n8n_public_proto }}://{{ vhost }}/
N8N_PROXY_HOPS=1
N8N_EDITOR_BASE_URL={{ n8n_public_proto }}://{{ vhost }}/

DB_TYPE=postgresdb
DB_POSTGRESDB_HOST=postgres
DB_POSTGRESDB_PORT=5432
DB_POSTGRESDB_DATABASE=n8n
DB_POSTGRESDB_USER=n8n
DB_POSTGRESDB_PASSWORD={{ n8n_db_password_effective }}

N8N_ENCRYPTION_KEY={{ n8n_encryption_key_effective }}
TZ={{ n8n_timezone }}

