<VirtualHost 127.0.0.1:8080 >
	ServerName "{{ ansible_nodename }}"
	ServerAlias "www.{{ ansible_nodename }}"
	ServerAdmin "admin@{{ ansible_nodename }}"
	UseCanonicalName Off

	DocumentRoot "/var/www/{{ ansible_nodename }}"
	ErrorLog "/var/log/httpd/{{ ansible_nodename }}_error.log"

	DirectoryIndex "index.html" "index.php" "index.xhtml" "index.htm" "index.shtml"

	<Directory /var/www/{{ ansible_nodename }}>
		AllowOverride AuthConfig FileInfo Indexes Limit Options=Indexes,SymLinksIfOwnerMatch,MultiViews,FollowSymLinks,ExecCGI,Includes,IncludesNOEXEC
	</Directory>

</VirtualHost>
