<VirtualHost 127.0.0.1:8080 >
	ServerName "{{ vhost }}"
	ServerAlias "www.{{ vhost }}"
	ServerAdmin "admin@{{ vhost }}"
	UseCanonicalName Off

	DocumentRoot "/var/www/{{ vhost }}"
	ErrorLog "/var/log/httpd/{{ vhost }}_error.log"

	DirectoryIndex "index.html" "index.php" "index.xhtml" "index.htm" "index.shtml"

	<Directory /var/www/{{ vhost }}/>
		Options -Indexes +FollowSymLinks
		AllowOverride All
	</Directory>

</VirtualHost>
