---
- name: Verify
  hosts: all
  tasks:
    - name: Check PostgreSQL Package Is Installed
      ansible.builtin.package:
        name: postgresql
        state: present
      check_mode: true
      register: postgresql_install
      failed_when: (postgresql_install is changed) or (postgresql_install is failed)

    - name: Check PostgreSQL Admin Password File Exists
      ansible.builtin.stat:
        path: /root/04-postgres_admin_password
      register: postgresql_admin_password_file

    - name: Fail When PostgreSQL Admin Password File Is Missing
      ansible.builtin.fail:
        msg: "/root/04-postgres_admin_password was not created"
      when: not postgresql_admin_password_file.stat.exists
