---
- name: Verify
  hosts: all
  tasks:
    - name: Check if chronyd is installed
      ansible.builtin.package:
        name: chronyd
        state: present
      check_mode: true
      register: install
      failed_when: (install is changed) or (install is failed)
